<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.jj9.buytalent.mapper.BuyInfoMapper">

	<select id="getPayTal"
		resultType="com.spring.jj9.dto.Pay_talentList">
		select p.pay_id, p.pay_money, p.member_id as
		"buyer_member_id",
		p.pay_original_money, talent_id, t.talent_title,
		t.member_id as "seller_member_id"
		from pay p INNER JOIN talent_list t
		USING (talent_id)
		WHERE p.pay_id = #{pay_id}
	</select>

	<select id="getMember" resultType="com.spring.jj9.dto.Member">
		SELECT * FROM member WHERE
		member_id = #{member_id}
	</select>

	<insert id="addReview" parameterType="com.spring.jj9.dto.Review">
		INSERT INTO review
		VALUES(review_id_seq.nextval, #{member_id}, #{talent_id}, #{review_grade},
		#{review_content}, #{review_date})
	</insert>

</mapper> 