@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
	font-family: 'Jua', sans-serif;
}
#main_img{
	position: absolute;
	top: 22%;
	left: 18%;
}
#purchase_img{
    border: solid black 1px;
    padding : 5px;
    margin: 3px;
    width: 500px;
    height: 350px;
}
#gradeAvg{
	position: absolute;
	left: 35%;
}
#title{
	position: absolute;
	top : 24%;
	right: 17%;
	border: solid gray 1px;
	margin: 3px;
	padding: 15px;
	
	
	
}
#title-name{
	font-size: 30px;
	font-weight: bold;
}

#order-button{
background-color: #E84646;
	font-weight: bold;
	font-size : 25px;
	padding-left : 135px;
	padding-right : 135px;
	padding-top : 10px;
	padding-bottom : 10px;
    margin: 15px;
}
#window-button{
	background-color: #E84646;
	font-weight: bold;
	font-size : 25px;
	padding-left : 135px;
	padding-right : 135px;
	padding-top : 10px;
	padding-bottom : 10px;
    margin: 15px;
}

#explanation{
	position: absolute;
	top :100%;
	left: 11%;
	
	
}

#seller-info{
	position: absolute;
	top :84%;
	right: 16.5%;
	border: solid gray 1px;
	margin: 15px;
	
}
#description{
	font-size: 20px;
}
#review-star{
	width: 200px;
	height:150px;
}
#main-content{
	position : absolute;
	width: 150%;
	top : 50%;
	
	
}

#pay-content{
	position: absolute;
	top :74%;
	right: 14%;
}
#avg-grid{
	
	display: grid;
	grid-template-columns: 40px 50px 150px;
	font-size: 20px;
}
#avg-img{
	width: 250px;
	height:180px;
}
#avg{
	position: absolute;
	left: 32%
	
}
#a-button{
	background-color: #E84646;
}
#a-button>a{
	font-size: 25px;
	text-decoration-line: none;
	
}
#a-button>a:link{
	color:black;	
}
#a-button>a:visited{
	color:black;	
}
#a-button>a:hover {
	color: white;
}
.total{
	display: flex;
	flex-direction: column;
}





	