<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.jj9.member.mapper.MemberMapper">
	<select id="getList" resultType="com.spring.jj9.dto.Member">
  		SELECT * FROM Member
  	</select>
  	<!--  -->
  	<insert id="insert">
		INSERT INTO member 
		(member_id, member_password, member_email, 
		member_phoneNum, member_birthday, 
		member_name, member_nickName, member_comments) 
		VALUES 
		(#{member_id}, #{member_password}, #{member_email}, 
		#{member_phoneNum}, #{member_birthday}, 
		#{member_name}, #{member_nickName}, #{member_comments})
	</insert>
	<!-- insert문 실행하고 확인용 getId -->
	<!-- 
  	<select id="getId" resultType="int">
  		SELECT member_id FROM Member where member_id = #{member_id}
  	</select>	
	 -->
	 <select id="idChecker" resultType="int" parameterType="String">
	 	SELECT COUNT(member_id) FROM member WHERE member_id = #{ID}
	 </select>
	 <select id="login" resultType="String" parameterType="String">
	 	select member_name from member
	 	where member_id = #{member_id} and member_password = #{member_password}
	 </select>
	 <select id="findId" resultType="String" parameterType="String">
	 	select member_id from member
	 	where member_name = #{name} and member_phoneNum = #{phone}
	 </select>
	 <select id="getIdMail" resultType="String" parameterType="String">
	 	select member_id from member
	 	where member_id = #{id} and member_email = #{email}
	 </select>
	 
	 <update id="updatePw">
	 	update member set member_password = #{ranPassword} where member_id = #{id}
	 </update>
	 
</mapper>