<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.jj9.request.mapper.RequestMapper">

	<select id="getMainCategories" resultType="com.spring.jj9.dto.Category">
		SELECT DISTINCT cate_main FROM category
	</select>
	
	<select id="getSubCateByMain" resultType="com.spring.jj9.dto.Category">
		SELECT cate_sub FROM category WHERE cate_main = #{cate_main}
	</select>
	
	<select id="getRequestList" resultType="com.spring.jj9.dto.Talent_request">
		SELECT * FROM talent_request
	</select>
	
	<select id="getRequestAllById" resultType="com.spring.jj9.dto.Talent_request_all"> <!-- 재능의뢰 id로 requesetAll 가져오기 -->
    select * from (select * from talent_request inner join category using(cate_id)
     	where trequest_id = #{trequest_id} and member_id is not null) inner join member using (member_id)
    
    </select>
    
	<insert id="insertRequest" parameterType="com.spring.jj9.dto.Talent_request">
		INSERT INTO talent_request VALUES(request_id_seq.nextval, #{member_id}, #{trequest_title}, #{trequest_content},
									 #{trequest_date}, #{trequest_deadline}, #{trequest_budget}, #{cate_id})
	</insert>
</mapper>
