<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.final.jj9.category.mapper.CategoryMapper">
  <select id="readAll" resultType="com.final.jj9.dto.Category">
    	select * from Category;
  </select>
  
  <select id="readTalentByID" resultType="com.final.jj9.dto.TalentAll">
  		select * from 
  		talent_list 
  		inner join category using(cate_id) 
  		inner join member using(member_id) 
  		inner join review using(talent_id) 
  		where cate_id = #{id} 
  </select>
  
</mapper>