<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.jj9.order.mapper.OrderMapper">
  <select id="get" resultType="com.spring.jj9.dto.TalentAll">
  SELECT * from talent_list inner join category using(cate_id) inner join member  Using(member_id)
  where talent_id = #{id}
  </select>
  
  <select id="getCoupon" resultType="com.spring.jj9.dto.Coupon">
  	select * from coupon where member_id = #{id} and  coupon_period &gt; sysdate and coupon_unused = '사용전'
  	or member_id='abc'
  </select>
  
  <select id="getdiscount" resultType="com.spring.jj9.dto.Coupon">
  	SELECT * from coupon where coupon_id = #{id}
  </select>
  
  <insert id="insertPay">
  	insert into pay values(PAY_ID_SEQ.nextval,#{talent_id},#{member_id},#{pay_money},#{pay_original_money},null)
  </insert>
  
  <select id="getPay" resultType="com.spring.jj9.dto.Pay">
  	SELECT * FROM pay where member_id = #{id}
  </select>
  
  <select id="getPoint" resultType="int">
  	SELECT member_point FROM member where member_id = #{id}
  </select>
  
  <select id="getTalentId" resultType="String"> 
  	SELECT member_id from talent_list where talent_id = #{id}
  </select>
  
  <update id="updatePoint">
  	update member set member_point = #{member_point} where member_id = #{member_id}
  </update>
  
  <update id="updateCoupon">
  	update coupon set coupon_unused = '사용후' where coupon_id= #{coupon_id} and member_id = #{member_id}
  </update>
  
  <select id="getMember" resultType="com.spring.jj9.dto.Member">
  	select * from member where member_id = #{id}
  </select>
  
  <select id="getTalnetTitle" resultType="String">
  select talent_title from talent_list where talent_id = #{id}
  </select>
  
</mapper>