<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.jj9.mapper.CategoryMapper">
	<insert id="addCate">
		INSERT into category values(#{cate_id}, #{cate_main}, #{cate_sub})		
	</insert>
		
	<select id="getAll" resultType="com.spring.jj9.dto.Category">
		SELECT * FROM category ORDER BY cate_id
	</select>
	
	<delete id="deleteCateById">
		DELETE FROM category Where cate_id = #{id}
	</delete>
	
</mapper>